{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/audio-touch/audio-touch.css" />
<script type="text/javascript" src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" type="text/css" href = 'static/css/main.css'>
 </br> </br> </br> </br>
<div class = 'centered'>
 <h1 class = 'greet'>Приветствуем тебя, дорогой посититель!</h1>
 Сейчас ты на главной стрaнице, где можешь также слушать музыку, пока ознакамливаешься с информацией</br> о нас. Запомни, при переходе на другую страницу, музыка играть не будет.
 Чтобы музыка продолжала играть</br> при просмотре каталога, тебе нужно совершить ниже указанные действия. Просим прощения
 за данные</br> неудобства, данная проблема будет решена в скором времени. Не насылайте на нас Сайтаму!
 </br> </br> </br> </br>
 <img src="static/img/for_main.png" alt="Image" width="700"></br>
 Наш магазин один из крупнейших придставителей в России. И так как не у всех есть возможность приехать</br>
 в Москву по адрессу, то.... ДАЛЬШЕ БУДЕТ РЫБА. У меня не хватит сил писать адекватный текст.</br>
Стремящиеся вытеснить традиционное производство, нанотехнологии являются только методом политического </br>
 участия и ассоциативно распределены по отраслям. Но предприниматели в сети интернет смешаны с не</br>
 уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</br>
Также как начало повседневной работы по формированию позиции требует от нас анализа поставленных обществом </br>
задач. Но выбранный нами инновационный путь выявляет срочную потребность переосмысления </br>
 внешнеэкономических политик. Учитывая ключевые сценарии поведения, укрепление и развитие внутренней</br>
структуры обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач. </br>
 Идейные соображения высшего порядка, а также повышение уровня гражданского сознания представляет собой</br>
 интересный эксперимент проверки поэтапного и последовательного развития общества. Семантический разбор</br>
внешних противодействий способствует подготовке и реализации существующих финансовых и административных </br>
 производственный план целого ряда внеочередных мероприятий с учётом комплекса вывода текущих активов.</br>
Значимость этих проблем настолько очевидна, что перспективное планирование требует определения и уточнения </br>
 <img src="static/img/3.jpg" alt="Image" width="700"></br>
переосмысления внешнеэкономических политик. Таким образом, высокотехнологичная концепция общественного</br>
уклада прекрасно подходит для реализации приоритизации разума над эмоциями! Являясь всего лишь частью </br>
 общей картины, базовые сценарии поведения пользователей, которые представляют собой яркий пример</br>

</div>
<div class="container"><div class="row">

<div class="col-lg-6 col-lg-offset-3">

 <audio preload="auto" controls>
 <source src="static/audio/1.mp3" />
 </audio>
</div>

</div></div>

<script src="https://bootstraptema.ru/plugins/2015/audio-touch/audio-touch.js"></script>

 <script>
 $( function()
 {
 $( 'audio' ).audioPlayer();
 });
 </script>
{% endblock %}