<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://bootstraptema.ru/snippets/menu/2016/slidemenu/slidemenu.css" />
</head>
<body>
<form class="form" method="post">
 <div class="thumbnail">
 <img class="group list-group-image" src={{spisok[0]}} alt="1" />
 <div class="caption">
 <h4 class="group inner list-group-item-heading">{{spisok[3]}}</h4>
 <p class="group inner list-group-item-text">
{{spisok[1]}}
</p>
 <div class="row">
 <div class="col-xs-12 col-md-6">
 <p class="lead">{{spisok[2]}} p</p>
 </div>
 <div class="col-xs-12 col-md-6">
 <button type="submit" class="btn btn-primary" name="'button" value={{spisok[3]}}>В корзину</button>
 </div>
 </div>
 </div>
 </div>
</form>
</body>
</html>