{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" type="text/css" href = 'static/css/style.css'>
<div class="container">
 <div class="well well-sm">
 <strong>Вид: </strong>
 <div class="btn-group">
 <a href="#" id="list" class="btn btn-default btn-sm">
<span class="glyphicon glyphicon-th-list"></span>Список</a>
<a href="#" id="grid" class="btn btn-default btn-sm">
<span class="glyphicon glyphicon-th"></span>Сетка</a>
 </div>
 </div>
 <div id="products" class="row list-group">
 <div class="item col-xs-4 col-lg-4">
 <div class="thumbnail">
 <img class="group list-group-image" src="static/img/senen/1.jpg" alt="1" />
 <div class="caption">
 <h4 class="group inner list-group-item-heading">Великий из бродячих псов</h4>
 <p class="group inner list-group-item-text">
Мальчика по имени Ацуси Накадзима выгоняют из сиротского приюта, и так он оказывается в Иокогаме без денег и крыши над головой. Ацуси в таком отчаянии, что решается ограбить первого встречного. Однако сердце у него доброе, и...
</p>
 <div class="row">
 <div class="col-xs-12 col-md-6">
 <p class="lead">$350.000</p>
 </div>
 <div class="col-xs-12 col-md-6">
 <a class="btn btn-success" href="#">В корзину</a>
 </div>
 </div>
 </div>
 </div>
 </div>

 <div class="item col-xs-4 col-lg-4">
 <div class="thumbnail">
 <img class="group list-group-image" src="https://bootstraptema.ru/images/type/400x250.png" alt="2" />
 <div class="caption">
 <h4 class="group inner list-group-item-heading">Товар 2</h4>
 <p class="group inner list-group-item-text">
Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2.
</p>
 <div class="row">
 <div class="col-xs-12 col-md-6">
 <p class="lead">
 $250.000</p>
 </div>
 <div class="col-xs-12 col-md-6">
 <a class="btn btn-success" href="#">Заказать</a>
 </div>
 </div>
 </div>
 </div>
 </div>

 <div class="item col-xs-4 col-lg-4">
 <div class="thumbnail">
 <img class="group list-group-image" src="https://bootstraptema.ru/images/type/400x250.png" alt="3" />
 <div class="caption">
 <h4 class="group inner list-group-item-heading">Товар 3</h4>
 <p class="group inner list-group-item-text">
Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3.
</p>
 <div class="row">
 <div class="col-xs-12 col-md-6">
 <p class="lead">
 $150.000</p>
 </div>
 <div class="col-xs-12 col-md-6">
 <a class="btn btn-success" href="#">Заказать</a>
 </div>
 </div>
 </div>
 </div>
 </div>

 <div class="item col-xs-4 col-lg-4">
 <div class="thumbnail">
 <img class="group list-group-image" src="https://bootstraptema.ru/images/type/400x250.png" alt="4" />
 <div class="caption">
 <h4 class="group inner list-group-item-heading">Товар 4</h4>
 <p class="group inner list-group-item-text">
Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4.
</p>
 <div class="row">
 <div class="col-xs-12 col-md-6">
 <p class="lead">
 $200.000</p>
 </div>
 <div class="col-xs-12 col-md-6">
 <a class="btn btn-success" href="#">Заказать</a>
 </div>
 </div>
 </div>
 </div>
 </div>

 <div class="item col-xs-4 col-lg-4">
 <div class="thumbnail">
 <img class="group list-group-image" src="https://bootstraptema.ru/images/type/400x250.png" alt="5" />
 <div class="caption">
 <h4 class="group inner list-group-item-heading">Товар 5</h4>
 <p class="group inner list-group-item-text">
Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5.
</p>
 <div class="row">
 <div class="col-xs-12 col-md-6">
 <p class="lead">
 $320.000</p>
 </div>
 <div class="col-xs-12 col-md-6">
 <a class="btn btn-success" href="#">Заказать</a>
 </div>
 </div>
 </div>
 </div>
 </div>

 <div class="item col-xs-4 col-lg-4">
 <div class="thumbnail">
 <img class="group list-group-image" src="https://bootstraptema.ru/images/type/400x250.png" alt="6" />
 <div class="caption">
 <h4 class="group inner list-group-item-heading">Товар 6</h4>
 <p class="group inner list-group-item-text">
Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6.
</p>
 <div class="row">
 <div class="col-xs-12 col-md-6">
 <p class="lead">
 $21.000</p>
 </div>
 <div class="col-xs-12 col-md-6">
 <a class="btn btn-success" href="#">Заказать</a>
 </div>
 </div>
 </div>
 </div>
 </div>

 </div>
</div>
{% endblock %}